mat-card {
    border-radius: .5em;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    width: 100%;
    height: 100vh;
}
mat-card-title {
    padding: 1em;
    color: blue;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%; 
}
mat-form-field {
    flex-grow: 1;
    width: 75%;
    display: flex;
    flex-direction: column;
}
mat-spinner {
    margin: auto;
}
button {
    width: fit-content;
    border-radius: .5em;
}
@media screen and (orientation: portrait) {
    button {
        font-size: 25pt;
        width: fit-content;
        padding: .5em;
        border-radius: .5em;
      }
  }

/* @media screen and (orientation: portrait) {
    mat-card-title, mat-card-title ::target-text, mat-form-field :any-link, mat-form-field ::target-text, :-ms-input-placeholder, input, mat-form-field :single-button{
      width: 100vw;
      font-size: xx-large;
      font-weight: 700;
      flex-grow: 2;
      text-align: center;
      }
  }
@media screen and (orientation: portrait) {
    mat-card {
        align-content: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30vmax;
        margin-top: 2em;
        font-size: xx-large;
        font-weight: 700;
        flex: 1;
        margin: 0;
        padding: 0;
        border: 0;
      }
  }
@media screen and (orientation: portrait) {
    button {
        height: 5em;
        font-size: xx-large;
        font-weight: 700;
        flex: 1;
        margin: 0;
        padding: 0;
        border: 0;
      }
  }
   */