<mat-card class="container mat-elevation-z8">
    <mat-card-title *ngIf="profile.username != undefined">
      {{profile.username | titlecase}}
    </mat-card-title>
    <mat-card-title *ngIf="!profile.username == undefined">
      No Username
    </mat-card-title>
    <div>
      <img mat-card-image
        [src]="profile.imagePath"
        alt="{{ profile.friends }}"
        class="img-responsive mat-elevation">
    </div>
  <mat-card-subtitle>
    {{profile.location | titlecase}}
  </mat-card-subtitle>
  <mat-card-subtitle>
    {{profile.email | titlecase}}
  </mat-card-subtitle>
  <mat-card-subtitle>
    {{profile.fullname | titlecase}}
  </mat-card-subtitle>
  <mat-card-subtitle>
    {{profile.gender | titlecase}}
  </mat-card-subtitle>   
  <mat-card-actions class="mobile">
    <button mat-raised-button  #messageanchor (click)="sendMessage()">
       Send Message
    </button>
    <button mat-raised-button #messageanchor (click)="viewVideos()">
      View videos
    </button>
    <button mat-raised-button #messageanchor (click)="viewPictures()">
      View pictures
    </button>
    <button mat-raised-button  #messageanchor (click)="videoChat()">
      Video Chat
    </button>
    <button *ngIf="loginUsername != profile.username" mat-stroked-button color="primary" (click)="addFriend()">
      Add user to friends list
    </button> 
    <button mat-raised-button *ngIf="loginUsername === profile.username"  color="warn" type="button" (click)="onDelete(profile.id)">
      DELETE
    </button>
  </mat-card-actions>
  <!-- <mat-card-actions>
    <button mat-button #messageanchor (click)="sendMessage()"> Send Message <mat-icon>message</mat-icon></button>
    <a mat-button #messageanchor (click)="viewVideos()">View videos<mat-icon>videocam</mat-icon></a>
    <a mat-button #messageanchor (click)="viewPictures()">View pictures<mat-icon>image</mat-icon></a>
    <a mat-button #messageanchor (click)="videoChat()">Video Chat</a>
  </mat-card-actions> -->
  </mat-card>
  <!-- <mat-card *ngIf="mode === 'create'" class="message">
    <mat-card-content>
      <app-message (mode)="onCancel($event)">      
      </app-message>
    </mat-card-content>
  </mat-card> -->
  
  <!-- <mat-card  class="videos" *ngIf="mediamode === 'videos'">
    <mat-card-content *ngFor="let videoEl of videos; let i = index">
      <mat-card-subtitle>{{ videoEl.title }}</mat-card-subtitle>
      <video  controls
        [src]="videoEl.videoPath"
        class="vid"
        type="video/mp4, video/ogg, video/webm">
      </video>
    </mat-card-content>
  </mat-card>   -->
  
  <!-- <mat-card *ngIf="mode === 'pictures'" class="message">
    <mat-card-content>
      <app-videos>      
      </app-videos>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="mode === 'videoChat'" class="message">
    <mat-card-content>
      <app-live-streaming></app-live-streaming>
    </mat-card-content>
  </mat-card> -->
  
  