/* mat-card{
    height: fit-content;
    max-width: 100%;
    text-align: center;
}
mat-card-title, mat-card-footer {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    padding: 0em;
} */
img {
    max-width: 100%;
    height: auto;
}
input[type="file"] {
    visibility: hidden;
    max-width: 100%;
}

/* @media screen and (orientation: portrait) {
    button {
        max-width: 100%;
        height: fit-content !important;
        font-size: 25pt;
      }
  }
  @media screen and (orientation: portrait) {
    mat-card {
      font-size: 30pt;
      padding: 0em;
      margin: 0em;
      width: 100%;
  }
 } */